h2 {
	font-family: 'Poppins', sans-serif;
}

h3 {
	font-family: 'Poppins', sans-serif;
}

p {
	font-family: 'Poppins', sans-serif;
}

.nav {
	width: 100%;
	background-color: #000000;
	position: fixed;
	top: 0;
	z-index: 1;
}

.nav-items {
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	color: #ffffff;
	height: 70px;
}

.nav-items .buttons {
	display: flex;
	justify-content: space-between;
}

.nav_buttons {
	height: 40px;
	margin: 0px 20px;
	padding: 0px 20px;
	background-color: #000000;
	border-style: 4px #ffffff;
	color: #ffffff;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
}

.intro {
	background-image: url("images/Hero.png");
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 70px;
}

.nav p {
	color: #ffffff;
}


.heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 170px 0px;
	color: #ffffff;
}

.heading h1 {
	margin-bottom: 0px;
	margin-top: 20px;
	padding: 0px;
	font-size: 64px;
	letter-spacing: 1px;
	font-weight: 700;
	font-family: 'Poppins', sans-serif;
}

.heading h4 {
	font-size: 20px;
	letter-spacing: 0px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	margin-top: 15px;
}

.heading button {
	background-color: #FD3A52;
	color: #ffffff;
	height: 60px;
	width: 200px;
	font-size: 20px;
	border-radius: 3px;
	margin: 30px;
	border-color: #FD3A52;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
}

.subnav {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.subheadline {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 32px;
	color: #000000;
	margin: 80px 0px 40px 0px;
}

.anchors {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 800px;
	margin-top: 40px;
	margin-bottom: 80px;
}

#content1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 540px;
	background-color: rgba(221,223,240,1);
}

#content2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 540px;
	background-color: #FFFDEB;
}


#content1 .messaging {
	width: 600px;
	margin-right: 100px;
	line-height: 36px;
	font-family: 'Poppins', sans-serif;
}

#content2 .messaging {
	width: 462px;
	margin-left: 180px;
	line-height: 36px;
	font-family: 'Poppins', sans-serif;
}

.panel {
	width: 240px;
	background-color: #ffffff;
	box-shadow: rgba(244, 112, 112, .22);
	display: flex;
	flex-direction: column;
	border-radius: 6px;
}

.bottomDiv_p {
       position: relative;
       top: 30px;
       right: 120px;
    }

.gradient {
	padding: 10px 10px 0px 10px;
}

.color_row {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.color1 {
	width: 45px;
	height: 45px;
	background-color: #1A1377;
	border-radius: 6px;
}

.color2 {
	width: 45px;
	height: 45px;
	background-color: #7376F1;
	border-radius: 6px;
}

.color3 {
	width: 45px;
	height: 45px;
	background-color: #6A4DDD;
	border-radius: 6px;
}

.color4 {
	width: 45px;
	height: 45px;
	background-color: #432AA8;
	border-radius: 6px;
}

#content1 .graphic {
	width: 40%;
	height: 351px;
	background-image: url("images/content1_graphic.png");
	border-radius: 4px;
	margin: 0px 0px 0px 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.play_bg {
	width: 120px;
	height: 85px;
	background-color: #000000;
	border-radius: 2px;
	padding: 0px;
}

.color1_change {
	background-color: #000000;
}

 .bottomDiv {
       position:relative;
       bottom: 65px;
       left: 5px;
    }

#content2 .graphic {
	width: 650px;
	height: 376px;
	margin-right: 180px;
	background-image: url("images/comp_graphic.png");
}

#content2 .cd-image-container {
	margin-right: 180px;
}


#content3 .grid {
	background-color: #f6f6f6;
	padding: 30px 40px 50px 40px;
	margin: 220px 200px 220px 0px;
	font-family: 'Poppins', sans-serif;
	border-radius: 8px;
}

#content3 .grid button {
	height: 40px;
	padding: 0px 30px;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: #ffffff;
	background-color: #373739;
	border-radius: 2px;
	border-color: #373739;
}

/*FAQs*/
#faq {
	background-color: #FAF0F0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.faq_intro {
	width: 45%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.faq_intro h2 {
	margin: 80px 0px 0px 0px;
}

.faq_intro p {
	margin: 20px 0px;
	line-height: 36px;
}

.questions {
	width: 55%;
	display: flex;
	justify-content: space-between;
	margin: 20px 0px 80px 0px;
}

#footer {
	background-image: url("images/Footer.png");
	height: 400px;
	margin: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}


.footer_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 90px 0px;
}

.footer_content h1 {
	color: #ffffff;
	margin-bottom: 0px;
	margin-top: 20px;
	padding: 0px;
	font-size: 42px;
	letter-spacing: 1px;
	font-weight: 700;
	font-family: 'Poppins', sans-serif;
}

.footer_content h4 {
	color: #ffffff;
	font-size: 20px;
	letter-spacing: 0px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	margin-top: 15px;
}

.footer_content button {
	background-color: #FD3A52;
	color: #ffffff;
	height: 60px;
	width: 200px;
	font-size: 20px;
	border-radius: 3px;
	margin: 30px;
	border-color: #FD3A52;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
}

/* Features in the grid section */
#content3 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: #ffffff;
}

#content3 .messaging {
	width: 30%;
	margin-right: 20%;
	line-height: 36px;
	font-family: 'Poppins', sans-serif;
}

#content3 .messaging p {
	margin-top: 50px;
}

#content3 .grid {
	background-color: #f6f6f6;
	padding: 30px 40px 50px 40px;
	margin: 100px 0px 100px 180px;
	font-family: 'Poppins', sans-serif;
}

.grid_heading {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.grid_heading h2, h3 {
	margin: 5px 0px 10px 0px;
}

.cta {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#content3 .grid button {
	height: 40px;
	padding: 0px 30px;
	margin: 20px 0px 0px 0px;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: #ffffff;
	background-color: #373739;
	border-radius: 2px;
	border-color: #373739;
}


.features {
	display: flex;
	flex-direction: column;
	width: 325px;
}

.features_row {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.f_text {
	margin-left: 20px;
}

/* Hiding sections for specific breakpoints
*/

@media screen and (min-width: 1400px) {
	#content2 .graphic {
		display: none;
	}
}

@media screen and (max-width: 1399px) {

	.heading h1 {
		font-size: 54px;
	}

	.heading h4 {
		font-size: 18px;
	}

	.heading button {
		font-size: 18px;
		height: 60px;
		width: 180px;
	}

	#content1, #content2, .questions {
		flex-direction: column;
		align-items: center;
	}

	.questions {
		text-align: center;
	}

	#content1 .graphic {
		background-image: url("images/panel_static_1399.svg");
		width: 500px;
		margin: 60px 0px 0px 0px;
	}

	#content1 .messaging {
		width: 60%;
		margin: 0px 0px 20px 0px;
		text-align: center;
	}

	#content2 {
		flex-direction: column-reverse;
	}

	#content2 .graphic {
		display: block;
		background-image: url("images/comp_graphic_1399.svg");
		width: 500px;
		margin: 60px 0px 20px 0px;
	}

	#content2 .cd-image-container {
		display: none;
	}

	#content2 .messaging {
		width: 60%;
		margin: 0px 0px 20px 0px;
		text-align: center;
	}


	.panel, .play_icon, .play_bg {
		display: none;
	}


	#content3 {
		display: none;
	}

	.faq_intro, .questions {
		width: 80%;
	}

	.footer {
		width: 70%;
	}

	.footer_content h1 {
		font-size: 36px;
	}

	.footer_content h4 {
		font-size: 18px;
	}

	.footer_content button {
		font-size: 18px;
		height: 60px;
		width: 180px;
	}
}

@media screen and (min-width: 375px) and (max-width: 800px) {

	.intro {
		height: 90vw;
	}

	.heading {
		margin: 0px 40px;
	}

	.heading h1 {
		font-size: 36px;
		text-align: center;
	}

	.heading h4 {
		font-size: 16px;
		text-align: center;
	}

	.heading button {
		font-size: 16px;
		height: 40px;
		width: 160px;
	}


	.subnav .anchors {
		display: none;
	}

	.subnav .subheadline {
		margin: 40px 0px;
		text-align: center;
		width: 70%;
		font-size: 28px;
	}


	#content1 .graphic {
		background-image: url("images/panel_static_800.svg");
		width: 325px;
		height: 182px;
	}

	#content1 .messaging {
		margin: 0px 0px 40px 0px;
		width: 80%;
	}

	#content2 .graphic {
		background-image: url("images/comp_graphic_800.svg");
		width: 325px;
		height: 188px;
		margin: 60px 0px 0px 0px;
	}

	#content2 .messaging {
		margin: 0px 0px 40px 0px;
		width: 80%;
	}

	.faq_intro, .questions {
		width: 80%;
	}

	.footer_content {
		width: 80%;
	}

	.footer_content h1 {
		font-size: 36px;
		text-align: center;
	}

	.footer_content h4 {
		font-size: 16px;
		text-align: center;
	}

	.footer_content button {
		font-size: 16px;
		height: 40px;
		width: 160px;
	}

}

.cd-image-container {
  position: relative;
  width: auto;
}
.cd-image-container img {
  display: block;
}

.cd-image-label {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #3E29A9;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  padding: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  -moz-transition: -moz-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
}
.cd-image-label.is-hidden {
  visibility: hidden;
}
.is-visible .cd-image-label {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.cd-resize-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-resize-img img {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: auto;
  max-width: none;
}
.cd-resize-img .cd-image-label {
  right: auto;
  left: 0;
}
.is-visible .cd-resize-img {
  width: 50%;
  /* bounce in animation of the modified image */
  -webkit-animation: cd-bounce-in 0.7s;
  -moz-animation: cd-bounce-in 0.7s;
  animation: cd-bounce-in 0.7s;
}

@-webkit-keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
@-moz-keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
@keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
.cd-handle {
  position: absolute;
  height: 44px;
  width: 44px;
  /* center the element */
  left: 50%;
  top: 50%;
  margin-left: -22px;
  margin-top: -22px;
  border-radius: 50%;
  background: #FD3A52 url("../img/cd-arrows.svg") no-repeat center center;
  cursor: move;
  box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) scale(0);
  -moz-transform: translate3d(0, 0, 0) scale(0);
  -ms-transform: translate3d(0, 0, 0) scale(0);
  -o-transform: translate3d(0, 0, 0) scale(0);
  transform: translate3d(0, 0, 0) scale(0);
}
.cd-handle.draggable {
  /* change background color when element is active */
  background-color: #3E29A9;
}
.is-visible .cd-handle {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0s 0.7s;
  -moz-transition: -moz-transform 0.3s 0.7s, opacity 0s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0s 0.7s;
}







